@keyframes rotate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.font-picker {
    position: absolute;
    top: 75px;
    right: 0;
    display: flex;
    gap: 10px;
    margin: 30px;

    div {
        position: relative;
        cursor: pointer;
        border: 3px solid rgba(0, 0, 0, 0.151);
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--medium);

        .helico {
            position: relative;
            top: 5px;
        }
    }

    .selected {
        border: 3px dashed black;
        transition: transform 2s ease-in-out;
    }

    .selected:hover {
        transform: rotate(-700deg);
    }
}

@media screen and (max-width: 1000px) {
    .font-picker {
        position: fixed;
        top: 30px;
        margin: 13px 20px;
        // top: 0;
        // left: 0;
        
        div {
            height: 15px;
            width: 15px;
            border: 3px solid transparent;
        }

        .selected {
            border: 3px dashed transparent;
            text-decoration: underline;
            text-decoration-style: dashed;
        }
    
        .selected:hover {
            transform: rotate(0deg);
        }
    }
}