@keyframes rotate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.bg-picker {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 10px;
    margin: 30px;

    div {
        cursor: pointer;
        border: 3px solid transparent;
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }

    .selected {
        border: 3px dashed black;
        transition: transform 2s ease-in-out;
    }

    .selected:hover {
        transform: rotate(500deg);
    }
}

@media screen and (max-width: 1000px) {
    .bg-picker {
        margin: 20px 0 0;
        width: 174px;
        left: calc(50vw - 87px);

        div {
            height: 30px;
            width: 30px;
        }
    }
}