.header {
    display: flex;
    padding: var(--padding);
    font-weight: 100;
    
    .name {
        display: flex;
        gap: calc(var(--rvv));

        .name-0:hover {
            color: var(--green);
        }

        .name-1:hover {
            color: var(--gray);
        }

        .name-2:hover {
            color: var(--red);
        }
    }
}

@media screen and (max-width: 1000px) {
    header.header {
        padding-top: calc(2.75*var(--padding));
        justify-content: center;

        .name {
            gap: calc(0.6*var(--rvv));
        }
    }
}