.header {
    display: flex;
    padding: var(--padding);
    
    .name {
        display: flex;
        gap: calc(var(--rvv));

        .name-0:hover {
            color: var(--green);
        }

        .name-1:hover {
            color: var(--gray);
        }

        .name-2:hover {
            color: var(--red);
        }
    }
}

@media screen and (max-width: 1000px) {
    header.header {
        justify-content: center;
    }
}