header.header {
    display: flex;
    padding: var(--padding);
    
    .name {
        display: flex;
        gap: calc(var(--rvv));

        .sean:hover {
            color: var(--green);
        }

        .stephen:hover {
            color: var(--gray);
        }

        .brian:hover {
            color: var(--red);
        }
    }
}

@media screen and (max-width: 700px) {
    header.header {
        justify-content: center;
    }
}