nav {
    margin-top: 20px;
    width: fit-content;
    min-width: 110px;
    overflow: hidden;
    
    ul {
        padding-left: calc(var(--padding) - 5px);
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: calc(2*var(--rvv));

        li {
            width: var(--large);
            height: var(--large);
            padding: var(--nav-padding);
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid transparent;
            border-radius: 50%;
            cursor: pointer;
            transition: transform 12s linear;
        }

        li:hover {
            transform: rotate(1080deg)
        }

        li.selected:hover {
            color: transparent;
        }

        .web.selected {
            border: 2px solid var(--green);
            text-shadow: 0px 0px var(--green);
        }

        .food.selected {
            border: 2px solid var(--gray);
            text-shadow: 0px 0px var(--gray);
        }

        .photo.selected {
            border: 2px solid var(--orange);
            text-shadow: 0px 0px var(--orange);
        }

        .about.selected {
            border: 2px solid blue;
            text-shadow: 0 0 blue;
        }
    }
}

@media screen and (max-width: 1000px) {
    nav {        
        ul {
            padding: 0;
            flex-direction: row;
            width: 100vw;
            justify-content: center;
            gap: 15px;
        }
    }
}