@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.web {
    font-size: var(--small);

    .web-intro {
        margin-bottom: 30px;
        font-style: italic;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .web-intro.fade-in {
        opacity: 0;
        animation: fadeIn 3s 0s linear forwards;
    }

    .web-projects {
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

