.web-project {
    width: fit-content;

        .project-title {
            cursor: pointer;
            font-size: var(--medium);
        }

        .project-title:hover {
            text-decoration: underline;
        }

        .project-stack {
            font-size: var(--small);
        }
    
    .project-links {
        margin-top: 5px;
        display: flex;
        gap: 20px;

        .project-link,
        .project-link:visited {
            color: blue;
        }

        .project-link:hover {
            color: #20c20e;
        }
    }
}

.web-project.expanded {

    .project-title {
        text-decoration: underline;
    }
}